module.exports = {
    host: 'http://127.0.0.1:8000', //chat-application host
    httpPort: 3001, // node server port
    authToken: 'myAwesomeToken' //used for authenticate requests before node and chat-application should be same as in .env file NODE_AUTH_TOKEN
}